@font-face {
	font-family: 'colafont';
	src: url('../fonts/LOKICOLA.TTF');
}

* {
  margin: 0;
  padding:0;
}

body {
	font-family: monospace;
	font-size: 62.5%;
}

/*img {
	width: 20%;
	height: 20%;
}*/

ul li img {
		width: 100px;
		height: 100px;
}


.landing-page-container {
  font-family: 'colafont';
  font-size: 4vw;
  font-weight: 100;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100vh;
  background: #842002;
  color: #fdf3a9;
}

.dash {
	font-family: cursive;
}

#about, #environments {
	width: 100%;
	height: 200px;
	background-color: #fdf3a9;
	text-align: center;
	}

#about p, #environments p {
	color: #842002;
	font-size: 3em;
	max-width: 640px;
	margin: 0 auto;
}

#about h2,
#skills h2,
#environments h2,
#portfolio h2,
#learning h2 {
	font-size: 35px;
	color: #842002;
	margin: 0 auto;
	padding: 10px;
}

#skills h2, #learning h2 {
	color: #fdf3a9;
}

#skills, #learning {
	background-color: #842002;
	width: 100%;
	height: 250px;
	display: block;
	text-align: center;
}

#skills ul li a,
#portfolio ul li a,
#environments ul li a,
#learning ul li a {
	font-size: 30px;
	color: #fdf3a9;
	text-decoration: none;
}

#skills ul li, #learning ul li {
	display: inline-block;
	color: #fdf3a9;
	padding: 5px;
}

#skills ul,
#environments ul,
#portfolio ul,
#learning ul {
	margin: 0 auto;
	text-align: center;
}

#environments, #portfolio {
	background-color: #fdf3a9;
	width: 100%;
	height: 250px;
	display: block;
	text-align: center;
}

#environments ul li, #portfolio ul li{
	color: #842002;
	display: inline-block;
}

#environments ul li {
	padding: 0 15px;
}

figure p {
	font-size: 20px;
}


.fa, .icon {
	font-size: 4em;
}
.mobile {
	display: none;
}


@media only screen and (max-width: 980px){

.desktop {
		display: none;
	}

.mobile {
		display: flex;
		font-size: 20vw;
	}

}
